.text-center {
	text-align: center;
}
body {
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: rgb(0,0,0);
	font-family: "Courier", monospace;
	font-size: 20px;
}
.sidebar {
  position: fixed;
  width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
}
.sidebar ul {
  list-style: none;
	padding-left: 5px;
}
.sidebar li {
	padding: 20px 0px;
	font-size: 22px;
	font-weight: light;
}
.sidebar a {
	color: white;
	background-color: grey;
	padding: 4px;
	border-radius: 5px;
}
.sidebar a:hover {
	font-weight: bolder;
}
.page-content {
  margin-left: 200px;
}
h1 {
	font-weight: bold;
}
h2 {
	color: #135AA3;
	font-weight: lighter;
}
a {
	text-decoration: none;
	color: grey;
}
a:hover {
	color: white;
}
.img-circle {
	border-radius: 50%;
	box-shadow:1px 1px 4px grey;
}
#lewagon {
	color: rgb(50,50,50);
	font-style: italic;
	font-weight: 550;
}
#lewagon:hover {
	color: white;
}
.card {
	width: 70%;
	margin: 0 auto;
	padding: 35px;
	border-radius: 50px 50px 10px 10px;
	box-shadow: 0px -10px 30px rgba(20,20,93,0.5);
}
#intro {
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline-block;
	padding: 10px;
}
.list-inline i {
	font-size: 30px;
}
